<h3 class="text-4xl text-center">Crea una cuenta</h3>

<form [formGroup]="myForm" (ngSubmit)="onSubmit($event)"
  class="surface-50 p-3 border-round w-12 md:w-9 lg:w-3 m-auto"
  method="post"
>
  <span *ngIf="handleError()"
  class="text-red-600 font-bold text-xl"
  >{{registerErrorMessage()}}</span>
  <span *ngIf="handleSuccess()"
  >
    {{registerSuccessMessage()}}
  </span>
  <div class="pb-3">
    <label class="text-xl text-primary font-semibold"
    for="name">Nombre:</label>
    <input
      formControlName="name"
      type="text" id="name"
      name="name"
      class="w-full p-2 mt-1 border-round text-xl"
      placeholder="Ingresa tu nombre de usuario">
    <span
      *ngIf="isValidField(myForm.controls.name)"
      class="text-red-600 font-bold text-xl ">
      {{getFieldError(myForm.controls.name)}}
    </span>
  </div>
  <div class="pb-3">
    <label class="text-xl text-primary font-semibold"
    for="email">Email:</label>
    <input
      formControlName="email"
      type="email"
      id="email"
      name="email"
      class="w-full p-2 mt-1 border-round text-xl"
      placeholder="Ingresa tu email">
    <span
      *ngIf="isValidField(myForm.controls.email)"
      class="text-red-600 font-bold text-xl ">
      {{getFieldError(myForm.controls.email)}}
    </span>
  </div>

  <div class="pb-3">
    <label class="text-xl text-primary font-semibold"
    for="password">Contraseña:</label>
    <input
      formControlName="password"
      type="password"
      id="password"
      name="password"
      class="w-full p-2 mt-1 border-round text-xl"
      placeholder="Ingresa tu contraseña">
    <span
      *ngIf="isValidField(myForm.controls.password)"
      class="text-red-600 font-bold text-xl">
      {{getFieldError(myForm.controls.password)}}
    </span>
  </div>
  <div class="pb-3 ">
    <label class="text-xl text-primary font-semibold"
    for="repetir-password">Repetir contraseña:</label>
    <input
      formControlName="repetirPassword"
      type="password"
      id="repetir-password"
      name="repetir-password"
      class="w-full p-2 mt-1 border-round text-xl"
      placeholder="Repite la contraseña">
    <span
      *ngIf="isValidField(myForm.controls.repetirPassword)"
      class="text-red-600 font-bold text-xl">
      {{getFieldError(myForm.controls.repetirPassword)}}
    </span>
    <span
      *ngIf="myForm.errors?.['notMatchPassword'] && ( myForm.touched )"
      class="text-red-600 font-bold text-xl"
    >
      Las contraseñas no coinciden.
    </span>
  </div>

  <input type="submit" value="Crear Cuenta" class="my-3 p-3 border-round text-xl bg-primary-reverse font-bold cursor-pointer">
</form>


<div class="m-auto mt-2 w-12 md:w-9 lg:w-3">
  <a
    class="text-primary"
    routerLink="/auth/login"
  >¿Ya tienes cuenta? Inicia sesión.</a>

</div>


<div *ngIf="visibleSpinner" class="flex justify-content-center mt-5">
  <p-progressSpinner class="mx-auto" strokeWidth="6" fill="var(--surface-ground)" aria-label="Loading"></p-progressSpinner>
</div>

